/venv
.venv
venv/
venv/*
venv*
venv
ENV/
Dashboard/migrations/
Dashboard/migrations/*
db.sqlite3
Dashboard/static/admin/*
Dashboard/admin/*

Cog/private_settings.py
Cog/settings.py.bak

__pycache__/

*.pyc
.DS_Store
Cog/client_secret.json

client_secret.json

Dashboard/static/font-awesome-4.7.0/*
static/*/*
Dashboard/static/bower_components/*
