<div class="modal fade" id="newUser" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Welcome to your CoG Dashboard! To get started, get to know your sidebar, which can be accessed by clicking on the menu on the top-right corner of the page or hovering over the left hand edge of the screen.
        </p>
        <h4>
          Click the "+" button to get started with your first task or event!
        </h4>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).on('load',function(){
  $('#newUser').modal('show');
});
</script>
