<div id="cTaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="cTaskModal_title"></h4>
      </div>
      <div class="modal-body" id="cTaskModal_contents">
        <p><b>Time Started: </b></p><p id="time_started_ctask"></p>
        <p><b>Time Scheduled End: </b></p><p id="time_ended_ctask"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" align="left">Completed</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Finish Later</button>
      </div>
    </div>
  </div>
</div>